
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: auto;
    background: linear-gradient(-90deg, #0e011c, #170130);
    font-family: Arial;
    /* overflow: hidden; */
}
html{
    font-size: 62.5%;
    /* overflow: hidden; */
}

.icon{
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    width: 28vw;
    /* margin-left: 268px; */
    margin-bottom: -64px;
    height: 68px;
    /* overflow: hidden;
    */
}

.logo{
    /* background: #120224; */
    /* border-radius: 0.5px; */
    text-align: center;
    /* border-style: solid; */
}

/* Navigation container */
.menu_1{
    background: #120224;
    border-radius: 5px;
    text-align: center;
    display: flex;
    border-style: solid;
    padding: 1rem;
    margin-left: 14rem;
    margin-right: 14rem;
    margin-bottom: 1rem;
    gap: 4rem;
    justify-content: center;
    align-items: baseline;
}

.dropbtn a:hover{
    font-size: 0.90rem;
}

/* Button */
button{
    border-radius: 3px;
    color: #0a0a0a;
    background-color: #3b0fee;
}

.sk{
    text-align: end;
}

.list{
    font-size: 2rem;
    display: none;
    margin-left: 2rem;
}

.dropbtn{
    display: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    
}

.dropdwn{
    display: none;
    position: absolute;
    background-color:#834ebf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 


.dropdwn a {
    color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

}

.dropdwn a:hover{
    background-color: #f1f1f1;
}

.dropbtn:hover .dropdwn{
    display: block;
}

.logo {
    text-align: center;
    height: 8.5rem;
    padding: 1rem;
}

.uk {
    color: #f8f8fb;
}

.menu_list,.uk ,.menu_year{
    display: inline;
    background-color:#590bb1;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #f3f3f6;
    padding: 5px;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;

}
a {
    text-decoration: none;
    color: rgb(248, 249, 250);
}



input[type=text] {
    width: 13rem;
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    border-style: outset;
    border-radius: 2.8rem;
    font-size: 1.6rem;
    background-color: #270d44;
    background-image: url(./search-icon-png-5.png);
    background-position: 1rem 1rem;
    background-repeat: no-repeat;
    background-size: 2.9rem 2.4rem;
    padding: 1rem 2rem 1rem 4rem;
    margin: 1rem 1rem 5rem 19.8rem;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 62.2%;
  }
/* Gallery */
.gallery {
    border: 0.1rem solid #ccc;
    margin: 10px;
    width: 18.4rem;
    background-color: rgba(31, 32, 32, 0.916);
    border-radius: 1rem;
    border-style: outset;
    border-width: 0.2rem;
    margin-bottom: 3rem;
}

.alok {
    text-align: center;
    justify-content: center;
    /* overflow: hidden; */
}

.justify {
    display: flex;
    flex-wrap: wrap;
    margin-left: 19.8rem;
    margin-right: 19.8rem;
    padding: 2.3rem .3rem;
    border-style: outset;
    justify-content:center;
    justify-content: space-evenly;
    /* overflow: hidden; */
}

div.gallery:hover {
    border: .1rem solid #777;
}

div.gallery img {
    height: 25rem;
    width: 17.6rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 1.3rem;
}

.lk {
    padding: 1rem;
    line-height: 2.2rem;
    text-align: center;
    color: white;
    overflow-wrap: break-word;
    min-height: 14.5rem;
    /* padding-bottom: 0.5rem; */
    /* aspect-ratio: 2/2; */
    font-size: 1.4rem;
    margin-top: -1rem;
    font-family: arial;
}

.head {
    background: linear-gradient(90deg, #270d44, #130125);
    filter: drop-shadow(2px 4px 6px black);
    margin: 0px 19.7rem 0rem 19.7rem;    
    border: 1px solid black;
    /* overflow: hidden; */

}

div.head {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: .5rem;
    /* overflow: hidden; */
}

.footer{
    background: linear-gradient(1deg, #170130, #270d44);
    filter: drop-shadow(2px 4px 6px black);
    padding-block: 2rem;

}

p {
    text-align: center;
    color: rgb(250, 250, 250);
    font-size: 1.3rem;
}
h3 {
    text-align: center;
    margin-top: 7rem;
}




.numbering{
    display: flex;
    justify-content: center;
    margin: 8rem;
}

.numbering a{
    color: white;
    float: left;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    border-style: outset;
    
}

.numbering a.active{
    background-color: #0de5e9;
    color: black;
    border-radius: .5rem;
}

.numbering a:hover:not(.active){
    background-color:#590bb1;
    color: white;
    border-radius: .5rem;
}

/* Media queries for responsiveness */


  @media(min-width: 991px) {
    .head {
        margin-left: 19.5rem;
        margin-right: 19.5rem;
    }
ul.menu_1{
    margin-left: 9rem;
    margin-right: 9rem;
    margin-bottom: 1.5rem;
    column-gap: 2rem;
    font-size: 1rem;
}
    .gallery {
       margin: 0.4rem;
       width: 18.8rem;
       margin-bottom: 2.6rem;
    }

    .img_dot {
        width: 100%;
        height: auto;
    }

    .lk {
        font-size: 1.6rem;
        text-align: center;
        font-size: 1.3rem;
         padding: .4rem;
        }
    
    div.gallery img{
        width: 18.3rem;
        height: 28.4rem;
    }

} 


@media(max-width: 991px) {

    .head,html {
        font-size: 45%;
    }

    .gallery {
        width: 19.3rem;
        margin-left: -0.5px;
    }

    .img_dot {
        width: 100%;
        height: auto;
    }

    .lk {
        font-size: 1.6rem;
        text-align: center;
        font-size: 1.3rem;
         padding: .4rem;
         margin-bottom: 2rem;
        }
    
    div.gallery img{
        width: 18.7rem;
        height: 28.6rem;
    }
    .menu_list,.menu_1,.uk{
        font-size: 1.9rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem
    }
    ul.menu_1{
        column-gap: 2rem;
    }

    input input[type=text]:focus {
        width: 62.2%;
      }
}





/* Additional media query for screens up to 600px */

 @media (max-width: 479px) {

    .head {
        font-size: 35%;
    }

    .gallery {
        width: 15.3rem;
        margin-left: -0.5px;
    }

    .img_dot {
        width: 100%;
        height: auto;
    }
    

    .lk {
        text-align: center;
         padding: .4rem;
         margin-bottom: 2rem;
    }
    div.gallery img{
        width: 14.7rem;
        height: 22.6rem;
    }
    .menu_list,.menu_1,.uk{
        font-size: 1.5rem;
    }

    input input[type=text]:focus {
        width: 62.2%;
      }
 }

@media (max-width:767px) {
    

    div.head{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        font-size: 1.3rem;
        margin: 0;
    }
    .menu_1,.menu_2{
        margin-inline: .5rem;
        margin: 7.8rem 0 1.2rem 0;
    }

    .justify{
        margin: 0;
    }
    ul.menu_1{
        column-gap: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    }
    .menu_list{
        margin-top: 0.5rem;
        padding: 0.5rem 3rem 0.5rem 3rem;
    }
    .uk{
        padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    }
    
    input input[type=text]:focus {
        width: 62.2%;
      }

       input[type=text]{
        margin-left: 2rem;
       }
}

    

@media (max-width: 478px) {
    .font-effect-neon{
        width: 27rem;
        height: 8rem;    }

    
    .head {
        font-size: 30%;
    }

    .gallery {
        width: 15.3rem;
    }

    .img_dot {
        width: 100%;
        height: auto;
    }
    


    .lk {
        padding: .4rem;
        margin-bottom: 2.5rem;
    }
    div.gallery img{
        width: 14.7rem;
        height: 22.6rem;
    } 
    ul.menu_1{
        column-gap: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    }
    .menu_list{
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }
    .uk{
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    input input[type=text]:focus {
        width: 62.2%;
      }
}


@media(max-width:378px){

    
   
    .list{
        display: block;
        margin-bottom: 2.5rem;
        font-size: 3.5rem;
    }
    div.head{
        margin-bottom: 1rem;
    }
.icon{
width: 21rem;
height: 6rem;}

.menu_1{
    position: absolute;
    margin-bottom: 2rem;
}
ul.menu_1{
    flex-direction: column;
    display: block;
    margin: 0;
    padding: 0;
    border-style: none;
    border-radius: unset;
    list-style-type: none;
    width: 12.9rem;
    background-color: #f1f1f1;
    height: 22rem;

}

input input[type=text]:focus {
    width: 62.2%;
  }


.menu_list,.uk,.menu_year{

    background-color: unset;
    color: black;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    flex-wrap: wrap;
}


  
  /* Change the link color on hover */



.menu_list:hover{
    background-color: #1bbdc0;
    border-radius: unset;
    color: rgb(14, 14, 14);
    margin-top: 0.5rem;
    padding: 1.5rem 1rem 1rem 1.5rem;
    width: 12.8rem;

}

.menu_year:hover{
    background-color: #1bbdc0;
    border-radius: unset;
    color: rgb(14, 14, 14);
    margin-top: 0.5rem;
    padding: 1.5rem 1rem 1rem 1.5rem;
    width: 12.8rem;

}
.page_link{
    color: black;
    text-decoration: none;
}

.navi {
    display: none;
}

.navi.active {
    display: block;
    animation: 5s;
}

}
